@typeparam Titem

@if(MyList == null)
{
    @if(Loading is null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://www.bing.com/th/id/OGC.f38c7e0bd0142386d130ef1cc57b7b10?pid=1.7&rurl=https%3a%2f%2fi.pinimg.com%2foriginals%2f59%2f22%2f20%2f5922208e18658f5e83b6ad801b895f71.gif&ehk=9m7sbyrt690zXXXzMcwdJMk3TtOMq3DCqQUbVUvaaVs%3d" />
        </div>
    }
    else
    {
        @Loading
    }
}
else if(MyList.Count == 0)
{
    @if(NoRecords is null)
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}